menu "Example Configuration"

    config HCI_5_0_VERSION
        bool "Support sending 20ms non-connectable advertising packets"
        default y
        help
            It is a temporary solution and needs further modifications.

endmenu
